{% extends "base.html" %}
{% block content %}
    <article>
        <header>
            <br>
                <hgroup>
                    <h4>How Do People Feel About Drugs?</h4>
                    <h5>Sentiment Analysis of Erowid's Experience Vault</h5>
                </hgroup>
            <br>
        </header>
        <section>
            <p> 
                Erowid is an organization that aims to educate the public about illicit drugs.
                <a href="https://www.erowid.org">Their website</a> contains lots of information about pretty much any drug imaginable. Perhaps the most interesting portion of the website is the 'experience vault' where users can share their experiences on substances. These stories are incredible - full of joy, sadness, violence, sex, and more. 
                A social scientist's dream. It's a fun read.

            </p>
            <p>
                I decided to scrape all of these stories using <a href="https://github.com/scrapy/scrapy">Scrapy</a> and then perform sentiment analysis using <a href="https://textblob.readthedocs.io/en/dev/">TextBlob.</a> I performed sentiment analysis on a sentence-by-sentence level, ascribing a value between 1 (very positive) and -1 (very negative), to each sentence in the forum post. I then took the average of all of these sentences to give each story an overall sentiment value. There are 23,000 stories in total. 
                Every story has demographic data, dose size information, a user-perscribed story "category" summarizing the setting of the experience, and more. The result is a very interesting dataset that I think has been underexplored. 
            </p>
            <p></p>
        </section>
        <section>
            <p>The first thing I'll do is share some sentences that my analysis concluded to be very positive and a few that were interpeted as negative sentences.</p>
            <br>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="positive-tab" data-toggle="tab" href="#positive" aria-controls="positive" aria-selected="true">Positive Sentences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="negative-tab" data-toggle="tab" href="#negative" aria-controls="negative" aria-selected="false">Negative Sentences</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="positive" role="tabpanel" aria-labelledby="positive-tab">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i>I had a tingling sensation, and a very pleasant sensation it was.</i></li>
                  <li class="list-group-item"><i>I had a wonderful night, perhaps one of the greatest moments I have ever had.</i></li>
                  <li class="list-group-item"><i>I was so relaxed and content and everything was just SO awesome.</i></li>
                  <li class="list-group-item"><i>I would have done anything to make that wonderful feeling go away.</i></li>
                  <li class="list-group-item"><i>I turn on VH1 and watch the 100 greatest Rock and Roll Artists.</i></li>
                </ul>
              </div>
              <div class="tab-pane" id="negative" role="tabpanel" aria-labelledby="negative-tab">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i>Like I was always fighting the snakes, because they seemed evil.</i></li>
                  <li class="list-group-item"><i> According to the attending anaesthesiologist, I was 'insane' for five days.</i></li>
                  <li class="list-group-item"><i>Their skin would look disgusting, their voices would give me chills.</i></li>
                  <li class="list-group-item"><i>Then it's as if a pit or void opened up in my stomach a horrible feeling.</i></li>
                  <li class="list-group-item"><i>I watched some television, and it became boring so I turned it off.</i></li>
                </ul>
              </div>
            </div>
            <br>
            <p> I think the spread of sentences is interesting. The majority are correctly indentified, but some (namely the sentences referring to VH1's 'Greatest Rock and Roll Artists' and television being 'boring') are just a little off. That said, I can also see why the algorithm identified them they way it did. I think, after examining the data quite closely, the algorithm has done quite a good job and I put quite a bit of stock in the results, particularly when the taking the average of many thousand sentences.</p>
        </section>
        <section>
            <p> The following is a chart of the average sentiment of stories about the seven most popular substances on the message board. The gender of the author is also available, so I included that dimension in the analysis.</p>
            <hr>
            <h5>Average Sentiment by Substance, Gender</h5>
            <div class="btn-group" role="group" aria-label="Gender options">
              <button type="button" class="btn btn-secondary btn-sm" onclick="updateSentimentData('female')">Female</button>
              <button type="button" class="btn btn-secondary btn-sm" onclick="updateSentimentData('aggregate')">Aggregate</button>
              <button type="button" class="btn btn-secondary btn-sm" onclick="updateSentimentData('male')">Male</button>
            </div>
            <svg class="chart" id="sentiment-chart" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
            <p> The results were not as drastic as I was anticipating. Few things to point out, though. Notice how closely the 'aggregate' data tracks the 'male' options are. Given that I am recording 'average' values, this implies that men shared stories than women did. Women generally share more negative stories than those shared by men. Women did tend to enjoy MDMA and mushrooms more then men. Stories about MDMA were by far the most positive. 
            </p>
            <br>
        </section>
        <section>
            <p>In the following chart, I graph the average sentiment by category and substance. So for example, the stories about amphetamine use with a category of 'Large Group (10+)' were the most positive, while stories with a category of "Health Problems" were most negative.
            <hr>
            <h5 id="category"></h5>
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onclick="updateCategoryData('amphetamines')">Display amphetamines data.</a>
                    <a class="dropdown-item" onclick="updateCategoryData('cannabis')">Display cannabis data.</a>
                    <a class="dropdown-item" onclick="updateCategoryData('cocaine')">Display cocaine data.</a>
                    <a class="dropdown-item" onclick="updateCategoryData('ketamine')">Display ketamine data.</a>
                    <a class="dropdown-item" onclick="updateCategoryData('LSD')">Display LSD data.</a>
                    <a class="dropdown-item" onclick="updateCategoryData('MDMA')">Display MDMA data.</a>
                    <a class="dropdown-item" onclick="updateCategoryData('mushrooms')">Display mushrooms data.</a>
                </div>
            </div>
            <svg class="chart" id="category-chart" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
            <p> One interesting thing to note is that the 'Relationships' category of ketamine is the most positive of any substance while the 'Health Problems' category for ketamine is the most negative of any substance. Clearly, a polar set of stories relating to the substance. This visualization also quite clearly demonstrates the generally positive nature of stories pertaining to MDMA and Mushrooms. </p>
            <p>I'm quite fond of the way this visualization turned out and I think that data is pretty interesting.</p>
            <hr>
        </section>
    </article>
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script>
    document.getElementById('page-title').innerHTML = "How Do People Feel About Drugs?"    

    var JSONdata = {{aggregate|tojson}}
    var aggregateData = JSON.parse(JSONdata)
    var JSONdata = {{female|tojson}}
    var femaleData = JSON.parse(JSONdata)
    var JSONdata = {{male|tojson}}
    var maleData = JSON.parse(JSONdata)

    var substance = function(data){return data.substance}
    var sentiment = function(data){return data.sentiment}
    
    function updateSentimentData(set){
        if (set == 'aggregate'){
            d3.select("#sentimentChart").remove()
            drawSentimentChart(aggregateData, set)
        }
        if (set == 'female'){
            d3.select("#sentimentChart").remove()
            drawSentimentChart(femaleData, set)
        }
        if (set == 'male'){
            d3.select("#sentimentChart").remove()
            drawSentimentChart(maleData, set)
        }        
    }
    
    function drawSentimentChart(data, set){

        var margin = {top: 25, right:0, bottom:55, left:40},
                width = 800 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

        var x = d3.scaleBand().rangeRound([0,width]).padding(.05);
        var y = d3.scaleLinear().range([height, 0]);

        var xAxis = d3.axisBottom(x)
        var yAxis = d3.axisLeft(y)

        if(set=="female"){
            color = "lightpink"
        }
        else if(set=="male"){
            color = "steelblue"
        }
        else{
            color = "grey"
        }

        x.domain(data.map(function(d){return d.substance;}))
        y.domain([0, .15])

        var svg = d3.select("#sentiment-chart").append("svg")
            .attr("width", width+margin.left+margin.right)
            .attr("height", height+margin.top+margin.bottom)
            .attr("id", "sentimentChart")
            .append("g")
            .attr("transform", "translate(" + margin.left+ "," + margin.top + ")");

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0,"+height+")")
            .call(xAxis)
            .selectAll("text")
            .style("text-anchor","end")
            .attr("dx", "-.4em")
            .attr("dy", ".9em")
            .attr("transform","rotate(-33)");

        var bars = svg.selectAll("bar")
            .data(data)
            .enter().append("rect")
            .style("fill",color)
            .attr("x", function(d){ return x(d.substance);})
            .attr("width", x.bandwidth())
            .attr("y", function(d){return y(d.sentiment);})
            .attr("height", function(d){return height-y(d.sentiment); })
            .append("title")
                    .text(function(d) {  
                            if (['mdma','lsd'].includes(d.substance)) {
                                return d.substance.toUpperCase() + ": " + Math.round(10000*d.sentiment)/10000
                            }
                            else{
                                return d.substance.charAt(0).toUpperCase() + d.substance.slice(1) + ": " + Math.round(10000*d.sentiment)/10000}
                            });

    }

    window.onload = drawSentimentChart(aggregateData, 'aggregate')


    var JSONdata = {{amphetamines|tojson}}
    var amphetamines = JSON.parse(JSONdata)
    var JSONdata = {{cannabis|tojson}}
    var cannabis = JSON.parse(JSONdata)
    var JSONdata = {{cocaine|tojson}}
    var cocaine = JSON.parse(JSONdata)
    var JSONdata = {{ketamine|tojson}}
    var ketamine = JSON.parse(JSONdata)
    var JSONdata = {{lsd|tojson}}
    var lsd = JSON.parse(JSONdata)
    var JSONdata = {{mdma|tojson}}
    var mdma = JSON.parse(JSONdata)
    var JSONdata = {{mushrooms|tojson}}
    var mushrooms = JSON.parse(JSONdata)


    
    function updateCategoryData(val){
        if (val == 'amphetamines'){
            d3.select("#categoryChart").remove()
            drawCategoryChart(amphetamines)
        }
        if (val == 'cannabis'){
            d3.select("#categoryChart").remove()
            drawCategoryChart(cannabis)
        }
        if (val == 'cocaine'){
            d3.select("#categoryChart").remove()
            drawCategoryChart(cocaine)
        }
        if (val == 'ketamine'){
            d3.select("#categoryChart").remove()
            drawCategoryChart(ketamine)
        }
        if (val == 'MDMA'){
            d3.select("#categoryChart").remove()
            drawCategoryChart(mdma)
        }
        if (val == 'LSD'){
            d3.select("#categoryChart").remove()
            drawCategoryChart(lsd)
        }
        if (val == 'mushrooms'){
            d3.select("#categoryChart").remove()
            drawCategoryChart(mushrooms)
        }

        if (val == "MDMA" || val == "LSD"){
            document.getElementById('category').innerHTML = "Average Sentiment by Category for " + val; 
        }
        else{
            document.getElementById('category').innerHTML = "Average Sentiment by Category for " + val.charAt(0).toUpperCase() + val.slice(1); 
        }
        document.getElementById('dropdownMenuButton').innerHTML = "Display " + val + " data.";
     
    }
    
    function drawCategoryChart(data){

        var margin = {top: 25, right:-10, bottom:20, left:36},
                width = 800 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

        var x = d3.scaleLinear()
            .range([0, width]);

        var y = d3.scaleBand().rangeRound([0,height]).padding(.1);

        var xAxis = d3.axisBottom(x);

        var yAxis = d3.axisLeft(y);

        x.domain(d3.extent(data, function(d) { return d.sentiment; })).nice();
        y.domain(data.map(function(d) { return d.category; }));

        var svg = d3.select("#category-chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .attr("id","categoryChart")
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.selectAll(".bar")
          .data(data)
        .enter().append("rect")
          .attr("class", function(d) { return "bar bar--" + (d.sentiment < 0 ? "negative" : "positive"); })
          .attr("x", function(d) { return x(Math.min(0, d.sentiment)); })
          .attr("y", function(d) { return y(d.category); })
          .attr("width", function(d) { return Math.abs(x(d.sentiment) - x(0)); })
          .attr("height", y.bandwidth())
          .append("title")
              .text(function(d) { return d.category+ ": " + Math.round(10000*d.sentiment)/10000; });

        svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);

        svg.append("g")
              .attr("class", "y axis")
              .attr("transform", "translate(" + x(0) + ",0)")
              .call(yAxis);


    };
    window.onload = updateCategoryData('amphetamines')
    </script>
    
    <style>
    p {
        margin-bottom: .33em;
    }
    .bar--positive {
        fill:steelblue;
    }
    .bar--negative{
        fill:darkorange;
    }
    #option input{
        width: 100px;
        float:right;
    }
    #option input:focus{
        fill:lightgrey;
        shape-rendering: crispEdges;
    }
    .axis {
      font: 10.5px sans-serif;
      shape-rendering: crispEdges;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .chart rect{
        opacity: .75;
    }
    .chart rect:hover {
        opacity: .9;
    }
    #sentiment-chart svg{
        display:block;
        margin:auto;
    }
    #category-chat svg{
        display:block;
        margin:auto;
    }

    </style>
    
{% endblock %}
