{% extends "base.html" %}
{% block content %}
    <article>
        <header>
            <br>
                <hgroup>
                    <h4>Who Uses Erowid?</h4>
                    <h5>An Analysis of Erowid's User Base</h5>
                </hgroup>
            <br>
        </header>
        <section>
          <p> I thought it would be interesting to use some of the forum's metadata I scraped to profile the sites demographics and popularity. In the previous section, I noted that the 'average' sentiment value tracked the 'male' average very closely. This led me to believe that the site was male dominated. Gender data is readily available in the forums metadata, so I thought I would test this assumption.
          </p>
        </section>
        <section>
          <hr>
          <h5 id="pie-title"></h5>
          <div class="dropdown">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="pie-chart-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" onclick="updateGenderData('aggregate')">Display aggregate data.</a>
                  <a class="dropdown-item" onclick="updateGenderData('amphetamines')">Display amphetamines data.</a>
                  <a class="dropdown-item" onclick="updateGenderData('cannabis')">Display cannabis data.</a>
                  <a class="dropdown-item" onclick="updateGenderData('cocaine')">Display cocaine data.</a>
                  <a class="dropdown-item" onclick="updateGenderData('ketamine')">Display ketamine data.</a>
                  <a class="dropdown-item" onclick="updateGenderData('LSD')">Display LSD data.</a>
                  <a class="dropdown-item" onclick="updateGenderData('mushrooms')">Display mushrooms data.</a>
                  <a class="dropdown-item" onclick="updateGenderData('MDMA')">Display MDMA data.</a>
              </div>
          </div>
          <svg class="chart" viewBox="0 0 600 250"  preserveAspectRatio="xMidYMid meet" id="pie-chart-container"></svg>
          <hr>
        </section>
        <section>
          <p>Indeed, the websites population (or at least active user base) is mostly male. The most popular substances for female authors are MDMA and cocaine. I'm a little surprised that cannabis stories are so heavily male dominated, given the relative accessibility and popularity of the drug.</p>
          <p>The forum posts list the published date. I thought it would be interesting to look for trends- what substances are becoming more popular to write about and which are fading from relevance. I went ahead and plotted this data below.
          </p>
          <hr>
        </section>
        <section>
            <h5 id="post-title"></h5>
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="rate-chart-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onclick="updateRateData('amphetamines')">Display amphetamines data.</a>
                    <a class="dropdown-item" onclick="updateRateData('cannabis')">Display cannabis data.</a>
                    <a class="dropdown-item" onclick="updateRateData('cocaine')">Display cocaine data.</a>
                    <a class="dropdown-item" onclick="updateRateData('ketamine')">Display ketamine data.</a>
                    <a class="dropdown-item" onclick="updateRateData('LSD')">Display LSD data.</a>
                    <a class="dropdown-item" onclick="updateRateData('MDMA')">Display MDMA data.</a>
                    <a class="dropdown-item" onclick="updateRateData('mushrooms')">Display mushrooms data.</a>
                </div>
            </div>
            <svg class="chart" id="rate-chart-container" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid meet"></svg>
          <hr>
        </section>
        <section>
          <p>The results are difficult to anaylze. The spikes are seemingly random with no clear trendlines. I do think the spike of stories about amphetamines between 2005-2010 is interesting. I'm also curious about what prompted the huge spike in ketamine stories in 2018. At this time, I don't have the answers to these questions. </p>
          <p>There's also a spike in cannabis stories in 2012-2014. This is the period when legalization of the substance occurred in Washington, Colorado, Oregon, and Alaska. Perhaps the incresed accessibility prompted the new writings.</p>
          <hr>
        </section>
      </article>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

document.getElementById('page-title').innerHTML = "Who Uses Erowid?"    

var JSONdata = {{genders|tojson}}    
var genders = JSON.parse(JSONdata)
var JSONdata = {{genders_cannabis|tojson}}
var genders_cannabis = JSON.parse(JSONdata)
var JSONdata = {{genders_amphetamines|tojson}}
var genders_amphetamines = JSON.parse(JSONdata)
var JSONdata = {{genders_lsd|tojson}}
var genders_lsd = JSON.parse(JSONdata)
var JSONdata = {{genders_mushrooms|tojson}}
var genders_mushrooms = JSON.parse(JSONdata)
var JSONdata = {{genders_mdma|tojson}}
var genders_mdma = JSON.parse(JSONdata)
var JSONdata = {{genders_ketamine|tojson}}
var genders_ketamine = JSON.parse(JSONdata)
var JSONdata = {{genders_cocaine|tojson}}
var genders_cocaine = JSON.parse(JSONdata)

function updateGenderData(value){
    if (value == 'aggregate'){
        d3.select("#pie-chart").remove()
        drawPieChart(genders, value)
    }
    if (value == 'cannabis'){
        d3.select("#pie-chart").remove()
        drawPieChart(genders_cannabis, value)
    }
    if (value == 'amphetamines'){
        d3.select("#pie-chart").remove()
        drawPieChart(genders_amphetamines, value)
    }
    if (value == 'LSD'){
        d3.select("#pie-chart").remove()
        drawPieChart(genders_lsd, value)
    }
    if (value == 'mushrooms'){
        d3.select("#pie-chart").remove()
        drawPieChart(genders_mushrooms, value)
    }
    if (value == 'ketamine'){
        d3.select("#pie-chart").remove()
        drawPieChart(genders_ketamine, value)
    }
    if (value == 'cocaine'){
        d3.select("#pie-chart").remove()
        drawPieChart(genders_cocaine, value)
    }
    if (value == 'MDMA'){
        d3.select("#pie-chart").remove()
        drawPieChart(genders_mdma, value)
    }
    if (value == "MDMA" || value == "LSD"){
      document.getElementById('pie-title').innerHTML = value + " Forum Post Authors by Gender"; 
    }
    else if (value == "aggregate"){
      document.getElementById('pie-title').innerHTML = "Forum Post Authors by Gender"    
    }
    else{
      document.getElementById('pie-title').innerHTML = value.charAt(0).toUpperCase() + value.slice(1) + " Forum Post Authors by Gender "; 
    }

    document.getElementById('pie-chart-dropdown').innerHTML = "Display " + value + " data.";
}

function drawPieChart(data,set){
  var margin = {top: 0, right:0, bottom:0, left:0},
          width = 600 - margin.left - margin.right,
          height = 250 - margin.top - margin.bottom,
          radius = Math.min(width, height) / 2;

  var svg = d3.select("#pie-chart-container").append("svg")
        .attr("width", width+margin.left+margin.right)
        .attr("height", height+margin.top+margin.bottom)
        .attr("id", "pie-chart")
        .attr("radius", radius)

  var g = svg.append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

  var color = d3.scaleOrdinal(["lightpink", "steelblue", "grey"]);

  var pie = d3.pie()
      .sort(null)
      .value(function(d) { return d.count; });

  var path = d3.arc()
      .outerRadius(radius - 7.5)
      .innerRadius(0);

  var label = d3.arc()
      .outerRadius(radius - 35)
      .innerRadius(radius - 35);

  var arc = g.selectAll(".arc")
  .data(pie(data))
  .enter().append("g")
    .attr("class", "arc");
  arc.append("path")
    .attr("d", path)
    .attr("fill", function(d) { return color(d.data.gender); })
    .append("title")
        .text(function(d) { return d.data.gender+ ": " + Math.round(100*(d.data.count/(d.data.total)))+"%"; });

  arc.append("text")
    .attr("transform", function(d) { return "translate(" + label.centroid(d) + ")"; })
    .attr("dy", "0.35em")
    .text(function(d) { return d.data.gender; })
}

window.onload = updateGenderData('aggregate')

var JSONdata = {{years_cannabis|tojson}}
var years_cannabis = JSON.parse(JSONdata)
var JSONdata = {{years_amphetamines|tojson}}
var years_amphetamines = JSON.parse(JSONdata)
var JSONdata = {{years_lsd|tojson}}
var years_lsd = JSON.parse(JSONdata)
var JSONdata = {{years_mushrooms|tojson}}
var years_mushrooms = JSON.parse(JSONdata)
var JSONdata = {{years_mdma|tojson}}
var years_mdma = JSON.parse(JSONdata)
var JSONdata = {{years_ketamine|tojson}}
var years_ketamine = JSON.parse(JSONdata)
var JSONdata = {{years_cocaine|tojson}}
var years_cocaine = JSON.parse(JSONdata)

function updateRateData(value){
    if (value == 'cannabis'){
      d3.select("#rate-chart").remove()
      drawBarChart(years_cannabis, value)
    }
    if (value == 'amphetamines'){
      console.log(d3.select("#rate-chart"))
      d3.select("#rate-chart").remove()
      drawBarChart(years_amphetamines, value)
    }
    if (value == 'LSD'){
      d3.select("#rate-chart").remove()
      drawBarChart(years_lsd, value)
    }
    if (value == 'mushrooms'){
      d3.select("#rate-chart").remove()
      drawBarChart(years_mushrooms, value)
    }
    if (value == 'ketamine'){
      d3.select("#rate-chart").remove()
      drawBarChart(years_ketamine, value)
    }
    if (value == 'cocaine'){
      d3.select("#rate-chart").remove()
      drawBarChart(years_cocaine, value)
    }
    if (value == 'MDMA'){
      d3.select("#rate-chart").remove()
      drawBarChart(years_mdma, value)
    }
    if (value == "MDMA" || value == "LSD"){
      document.getElementById('post-title').innerHTML = "Percentage of Stories Concerning " + value + " by Year"; 
    }
    else{
      document.getElementById('post-title').innerHTML = "Percentage of Stories Concerning " + value.charAt(0).toUpperCase() + value.slice(1) +  "  by Year "
    } 
    document.getElementById('rate-chart-dropdown').innerHTML = "Display " + value + " data.";
}
window.onload = updateRateData('amphetamines')

function drawBarChart(data, set){

  var margin = {top: 25, right:0, bottom:35, left:40},
          width = 800 - margin.left - margin.right,
          height = 400 - margin.top - margin.bottom;

  var x = d3.scaleBand().rangeRound([0,width]).padding(.05);
  var y = d3.scaleLinear().range([height, 0]);

  var xAxis = d3.axisBottom(x)
  var yAxis = d3.axisLeft(y)

  x.domain(data.map(function(d){return d.year;}))
  y.domain([0, d3.max(data, function(d) { return d.rate; })]);

  var svg = d3.select("#rate-chart-container").append("svg")
      .attr("width", width+margin.left+margin.right)
      .attr("height", height+margin.top+margin.bottom)
      .attr("id", "rate-chart")
      .append("g")
      .attr("transform", "translate(" + margin.left+ "," + margin.top + ")");
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0,"+height+")")
            .call(xAxis)
            .selectAll("text")
            .style("text-anchor","end")
            .attr("dx", "-.4em")
            .attr("dy", ".9em")
            .attr("transform","rotate(-33)");

        var bars = svg.selectAll("bar")
            .data(data)
            .enter().append("rect")
            .style("fill","#C1403D")
            .attr("x", function(d){ return x(d.year);})
            .attr("width", x.bandwidth())
            .attr("y", function(d){return y(d.rate);})
            .attr("height", function(d){return height-y(d.rate); })
            .append("title")
              .text(function(d) {  
                    return d.year + ": " + Math.round(10000*d.rate)/10000})
    }

</script>

<style>

p {
  margin-bottom: .33em;
}

.graphContainer {
  float: left;
}
.chart rect{
    opacity: .75;
}
.chart rect:hover {
    opacity: .9;
}
.axis--x path {
  display: none;
}
.arc path{
    opacity:.75;
}
.arc path:hover {
    opacity:1;
}
.arc text {
  font: 8px sans-serif;
  text-anchor: middle;
}
.arc path {
  stroke: #fff;
}
#buttonContainer{
  padding-left:1em
}
#rate-chart svg{
  display:block;
  margin:auto;
}
</style>

{% endblock %}
