{% extends "base.html" %}
{% block content %}
    <article>
        <header>
            <br>
            <hgroup>
                <h4>Who Says What, When?</h4>
                <h5>Analysing Twitter Content Trends During the 2019 Superbowl</h5>
            </hgroup>
            <br>
        </header>
        <section>
            <p>
            I recently revisited my Twitter streaming project and I added some really nice features. I further improved the bandwidth and stability of the data stream. I also added functionality to upload the data directly into a database, which made the data a lot less cumbersome to worth with.
            </p>
            <p>
            I was pretty excited to take the thing out for a spin, and decided that the 2019 Superbowl would be a good opportunity. Ultimately, I collected ~900,000 tweets containing either #rams or # patriots. It worked great!
            </p>
            <p>
            As I was looking at the text body of all the tweets, it sort of became apparent that everyone was, more or less, talking about the same thing. The same action. Reading the tweets one after another almost feels like a tide. First a few people mention something, then a few more, and suddenly vritually everyone is talking about the thing that just happened.
            </p>
            <p>
            In an effort to illustrate these 'tides' of speech, I created a 'tide chart'. On the x-axis is time, in PST. The game started around 3:30 and last around 3 1/2 hours until 7:30. On the y-axis is rate in tweet per minute. The values are bucketed into 3 minute intervals. 
            </p>
            <br>
        </section>
        <section>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary active" onclick="updateData(aggregate_patriots,aggregate_rams,'aggregate')">
                <input type="radio" name="options" id="option1" autocomplete="off"> aggregate
              </label>
             <label class="btn btn-secondary" onclick="updateData(brady_patriots,brady_rams,'brady')">
                <input type="radio" name="options" id="option2" autocomplete="off"> brady
              </label>
              <label class="btn btn-secondary" onclick="updateData(fuck_patriots,fuck_rams,'fuck')">
                <input type="radio" name="options" id="option2" autocomplete="off"> fuck
              </label>
              <label class="btn btn-secondary" onclick="updateData(maroon_5_patriots,maroon_5_rams,'maroon 5')">
                <input type="radio" name="options" id="option4" autocomplete="off"> maroon 5
              </label>
             <label class="btn btn-secondary" onclick="updateData(goff_patriots,goff_rams,'goff')">
                <input type="radio" name="options" id="option4" autocomplete="off"> goff
              </label>
             <label class="btn btn-secondary" onclick="updateData(punt_patriots,punt_rams,'punt')">
                <input type="radio" name="options" id="option4" autocomplete="off"> punt
              </label>
              <label class="btn btn-secondary" onclick="updateData(shit_patriots,shit_rams,'shit')">
                <input type="radio" name="options" id="option3" autocomplete="off"> shit
              </label>
              <label class="btn btn-secondary" onclick="updateData(touchdown_patriots,touchdown_rams,'touchdown')">
                <input type="radio" name="options" id="option3" autocomplete="off"> touchdown
              </label>
            </div>
            <hr>
            <h5 id="header-text-patriots"></h5>
            <svg class="chart" id="area1" viewBox="0 0 1200 300" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
            <h5 id="header-text-rams"></h5>
            <svg class="chart" id="area2" viewBox="0 0 1200 300" preserveAspectRatio="xMidYMid meet"></svg>
            <svg class="event-chart" id="area3" viewBox="0 0 1200 300" preserveAspectRatio="xMidYMid meet"></svg>
            <br>
        </section>
        <section>
            <p> The results, in my opinion, are really beautiful. I'm fond of the title wave of Patriots fans uttering 'shit' when Brady threw the early interception. I like that Maroon 5 was seemingly not mentioned in the first half, spiked during the half time show, and then lingered in the conversation for the rest of the game. I like the gradual crescendo of 'fuck's as fans got rowdier towards the end of the game. I like the wave of 'shit's as Rams fans realized their impending doom. In a game that was filled with punts, I like that Hekker's record breaking effort stands out. And I really love that both sets of fans were talking about the touchdown to seal the result of the game, knowing that the context that surrounded their conversations were so different.</p>
           <br>
           <p>  It's beautiful, isn't it?</p>
       </section>
   </article>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

        var JSONdata = {{json_aggregate_patriots|tojson}}  
        var aggregate_patriots = JSON.parse(JSONdata)
        var JSONdata = {{json_aggregate_rams|tojson}}  
        var aggregate_rams = JSON.parse(JSONdata)

        var JSONdata = {{json_brady_patriots|tojson}}  
        var brady_patriots = JSON.parse(JSONdata)
        var JSONdata = {{json_brady_rams|tojson}}  
        var brady_rams = JSON.parse(JSONdata)

        var JSONdata = {{json_shit_patriots|tojson}}  
        var shit_patriots = JSON.parse(JSONdata)
        var JSONdata = {{json_shit_rams|tojson}}  
        var shit_rams = JSON.parse(JSONdata)

        var JSONdata = {{json_fuck_patriots|tojson}}  
        var fuck_patriots = JSON.parse(JSONdata)
        var JSONdata = {{json_fuck_rams|tojson}}  
        var fuck_rams = JSON.parse(JSONdata)

        var JSONdata = {{json_maroon_5_patriots|tojson}}  
        var maroon_5_patriots = JSON.parse(JSONdata)
        var JSONdata = {{json_maroon_5_rams|tojson}}  
        var maroon_5_rams = JSON.parse(JSONdata)

        var JSONdata = {{json_goff_patriots|tojson}}  
        var goff_patriots = JSON.parse(JSONdata)
        var JSONdata = {{json_goff_rams|tojson}}  
        var goff_rams = JSON.parse(JSONdata)

        var JSONdata = {{json_punt_patriots|tojson}}  
        var punt_patriots = JSON.parse(JSONdata)
        var JSONdata = {{json_punt_rams|tojson}}  
        var punt_rams = JSON.parse(JSONdata)

        var JSONdata = {{json_touchdown_patriots|tojson}}  
        var touchdown_patriots = JSON.parse(JSONdata)
        var JSONdata = {{json_touchdown_rams|tojson}}  
        var touchdown_rams = JSON.parse(JSONdata)




        function drawEvents(data, area, chart, argument){

            var margin = {top:  5, right: 0, bottom: 45, left: 55},
                width = 1200 - margin.left - margin.right,
                height = 300 - margin.top - margin.bottom;

            var svg = d3.select(area).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .attr("id", chart)
              .append("g")
                .attr("transform", 
                      "translate(" + margin.left + "," + margin.top + ")");


            data.forEach(function(d) {
                    d.value = +d.count
            });


            var x = d3.scaleBand().rangeRound([0,width]).padding(.075).domain(data.map(function(d){ return d.date}));
            var y = d3.scaleLinear().range([height, 0]);

            var xAxis = d3.axisBottom(x).tickValues(x.domain().filter(function(d){ return (d.substring(3,5) == '00' || d.substring(3,5) == '15' || d.substring(3,5) == '30' || d.substring(3,5) == '45' )}));
            
            x.domain(data.map(function(d) { return d.date; }));
            y.domain([0, d3.max(data, function(d) { return d.value; })]);

            var texts = svg.selectAll(".event-text")
                            .data(data)
                            .enter()
                            .append("text")
                            .attr("dx", "-.4em")
                            .attr("dy", ".9em")

            svg.append("g")
            texts.attr("class", "value")
              .attr("x", function(d) { return .835*x(d.date); })
              .attr("y", function(d) { return .5425*x(d.date); })
              .style("text-anchor", "end")
              .attr("dx", "-.4em")
              .attr("dy", ".9em")
              .attr("transform", "rotate(-33)" )
              .attr("class", "event-text")
              .text(function(d) { return d.event; });
        }

        function drawData(data, area, chart, argument){

            var margin = {top:  20, right: 20, bottom: 40, left: 40},
                width = 1200 - margin.left - margin.right,
                height = 300 - margin.top - margin.bottom;

            var svg = d3.select(area).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .attr("id", chart)
              .append("g")
                .attr("transform", 
                      "translate(" + margin.left + "," + margin.top + ")");

            if (chart=="chart1"){
                color = "#7687e7"
            }
            else{
                color = "#e7d676"
            }

            data.forEach(function(d) {
                d.value = +d.count
            });

            var x = d3.scaleBand().rangeRound([0,width]).padding(.075).domain(data.map(function(d){ return d.date}));
            var y = d3.scaleLinear().range([height, 0]);

            var xAxis = d3.axisBottom(x).tickValues(x.domain().filter(function(d){ return (d.substring(3,5) == '00' || d.substring(3,5) == '15' || d.substring(3,5) == '30' || d.substring(3,5) == '45' )}));
            var yAxis = d3.axisLeft(y).ticks(5);
            
            x.domain(data.map(function(d) { return d.date; }));
            y.domain([0, d3.max(data, function(d) { return d.value; })]);

            svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.4em")
                .attr("dy", ".9em")
                .attr("transform", "rotate(-33)" );

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", "1em")
                    .style("text-anchor", "end")

            svg.selectAll("bar")
                .data(data)
                .enter().append("rect")
                    .style("fill", color)
                    .attr("x", function(d) { return x(d.date); })
                    .attr("width", x.bandwidth())
                    .attr("y", function(d) { return y(d.value); })
                    .attr("height", function(d) { return height -  y(d.value); })
                .append("title")
                    .text(function(d){
                                return d.date+": " +d.value;
                            });
                        
        }

       function updateData(dataPatriots, dataRams, argument){
            d3.select("#chart1").remove()
            drawData(dataPatriots, "#area1", "chart1", argument)
            d3.select("#chart2").remove()
            drawData(dataRams, "#area2", "chart2", argument)
            d3.select("#chart3").remove()
            drawEvents(dataPatriots, "#area3", "chart3", argument) 
            if(argument=="aggregate"){
                document.getElementById('header-text-rams').innerHTML = "Count of tweets containing #rams."; 
                document.getElementById('header-text-patriots').innerHTML = "Count of tweets containing #patriots."; 
            }
            else if(argument=="maroon 5" || argument == "game of thrones"){
                document.getElementById('header-text-rams').innerHTML = "Count of tweets containing #rams and the phrase '" + argument + "'."; 
                document.getElementById('header-text-patriots').innerHTML = "Count of tweets containing #patriots and the phrase '" +argument + "'."; 
            }
            else{
                document.getElementById('header-text-rams').innerHTML = "Count of tweets containing #rams and the word '" + argument + "'."; 
                document.getElementById('header-text-patriots').innerHTML = "Count of tweets containing #patriots and the word '" +argument + "'."; 
            }
        }
        window.onload = updateData(aggregate_patriots, aggregate_rams,"aggregate")
</script>

<style>
    .axis {
      font: 14px sans-serif;
    }
    .chart rect{
        opacity: .75;
    }
    .chart rect:hover {
        opacity: .9;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
    }
    .event-text {
      font: 14px sans-serif;
    }  
    svg:not(:root) {
	overflow: visible;
    }
 
</style>
{% endblock %}
