{% extends "base.html" %}
{% block content %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <article>
        <header>
            <br>
                <hgroup>
                    <h4>Charting PDX Crime Reports</h4>
                    <h5>Utilizing Mapbox and Geocoding to Visualize PPD Dispatches</h5>
                </hgroup>
            <br>
        </header>
        <section>
            <p>I've built several visualizations with static data. I wanted to experiment with real-time data. I follow <a href="https://twitter.com/pdxpolicelog">PDX Police Log</a> on Twitter, which is a police scanner feed. I thought this was pretty interesting, so I wrote a persistent listener that uploads these Tweets to a database. An open socket connection updates this data in realtime.</p>
            <p>I use <a href="https://mapbox.com">Mapbox</a> to generate the chart. Mapbox is really great- it's feature-rich, great documentation, and free to use for projects like this. You may have noticed that the Twitter account provides the address of the event. I use Mapbox's geocoding tool to convert the address to latitude and longitude and then create the markers on the map using the latitude and longitude. The tool is not always successful - they tweet out a few different address formats and some formats are easier to parse and geocode than others. In particular, address formats of 'STREET 1 / STREET 2' rarely return correctly.</p>
        </section>
        <section>
            <div id='map-container' data-tap-disabled="true">
                <div id='map' style='width:100%; height:62.5vh; margin:0;'></div>
            </div>
            <br>
        </section>
        <section>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Address</th>
                        <th scope="col">Incident Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr id="{{event.id|string|truncate(12, end ='')}}" class="event-row">
                        <td scope="row">{{ event.createdate }}</th>
                        <td>{{ event.address }}</td>
                        <td>{{ event.incident }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
            <br>
        </section>
    </article>
    <script>

    var JSONdata = {{jsonEvents|tojson}}
    var events = JSON.parse(JSONdata)

    var zoomValue = 11;
    var mobileDevice = false;

    var deviceWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    if (deviceWidth < 700){
        var zoomValue = 9.66;
        var mobileDevice = true;
    }
    console.log(deviceWidth)

    mapboxgl.accessToken = 'pk.eyJ1IjoiYWJjb29rIiwiYSI6ImNqcnp5N3N2ZzFkeWs0NG80bnVtNmFxaDEifQ.zPkUuVuuVNGg-3DkQcBflQ';

    var bounds = [
        [-122.82576721782573,45.40209931994792],
        [-122.38211898946827,45.62385405719672]
    ];

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10?optimize=true',
        center: [-122.6355, 45.535],
        zoom: zoomValue,
        interactive: true,
        minZoom: 10,
        maxZoom: 14,
        maxBounds: bounds
    });

    var markers = []

    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    events.forEach(event =>
        mapboxClient.geocoding
            .forwardGeocode({
                query: formatAddress(event.address),
                autocomplete: false,
                limit: 1,
                proximity: setProximity(event.address),
                types: ['address']
            })
            .send()
            .then(function(response) {
                if (
                    response &&
                    response.body &&
                    response.body.features &&
                    response.body.features.length
                ) {
                var feature = response.body.features[0];

                if(event.urgency=='PRIORITY'){
                    markerColor = '#e87166'
                }
                else if(event.urgency=='INJURY'){
                    markerColor = '#7c66e8'  
                }
                else{
                    markerColor = '#d2e866'
                }

                var marker = new mapboxgl.Marker({ "color": markerColor })
                    .setLngLat(feature.center)
                    .setPopup(new mapboxgl.Popup({"closeButton":false}).setHTML("<h6><b>Address:</b> "+event.address+"</h6><br><h6><b>Incident Type:</b> "+event.incident+"</h6>"))
                    .addTo(map);

                var markerDiv = marker.getElement();

                if(mobileDevice == false){
                    // Add mouse popup toggle to the markers themselves.
                    markerDiv.addEventListener('mouseenter', () => marker.togglePopup());
                    markerDiv.addEventListener('mouseleave', () => marker.togglePopup());                    
                }
                else{
                    // Add touch popup toggle to the markers themselves.
                    markerDiv.addEventListener('touchstart', () => marker.togglePopup());
                    markerDiv.addEventListener('touchcancel', () => marker.togglePopup());      
                    markerDiv.addEventListener('touchmove', () => marker.togglePopup());                     
                }


                // Add popup toggle to the table rows.
                var rows = document.getElementsByClassName('event-row');
                for (i = 0; i < rows.length; i++) 
                {
                    if(rows[i].id == event.id.toString().substring(0,12)){
                        if(mobileDevice == false){
                            rows[i].addEventListener("mouseenter", function(){togglePopup(marker)}, false);
                            rows[i].addEventListener("mouseleave", function(){togglePopup(marker)}, false);                            
                        }                
                        else{
                            // Add touch popup toggle to the markers themselves.
                            markerDiv.addEventListener('touchstart', () => marker.togglePopup());
                            markerDiv.addEventListener('touchcancel', () => marker.togglePopup());      
                            markerDiv.addEventListener('touchmove', () => marker.togglePopup());                     
                    }

                    }
                }
            }})
    )

    map.addControl(new mapboxgl.NavigationControl());

    function togglePopup(marker) {
        marker.togglePopup()
    }

    function formatAddress(unformattedAddress){
        // Manually format address to be more compatible w/ Mapbox's API.
        var formattedAddress = unformattedAddress.replace(' NE ', ' NORTHEAST ');
        var formattedAddress = formattedAddress.replace(' NW ', ' NORTHWEST ');
        var formattedAddress = formattedAddress.replace(' SE ',' SOUTHEAST ');
        var formattedAddress = formattedAddress.replace(' SW ',' SOUTHWEST ');
        var formattedAddress = formattedAddress.replace(' S ',' SOUTH ');
        var formattedAddress = formattedAddress.replace(' N ',' NORTH ');
        var formattedAddress = formattedAddress.replace(' / ', ' & ');
        var formattedAddress = formattedAddress +', PORTLAND, OREGON';
        return formattedAddress
    }

    function setProximity(unformattedAddress){
        // Manually set map bias to the quadrants of the Portland.
        if(unformattedAddress.includes(' NE ')){
            var mapCenter = [-122.6179,45.5676]
        }
        if(unformattedAddress.includes(' SE ')){
            var mapCenter = [-122.5930,45.4914]
        }
        if(unformattedAddress.includes(' NW ')){
            var mapCenter = [-122.7609,45.5586]
        }
        if(unformattedAddress.includes(' SE ')){
            var mapCenter = [-122.5930,45.4914]
        }
        if(unformattedAddress.includes(' N ')){
            var mapCenter = [-122.7236,45.6075]
        }
        if(unformattedAddress.includes(' S ')){
            var mapCenter = [-122.6747,45.4888]
        }
        if(unformattedAddress.includes(' W ')){
            var mapCenter = [-122.7221,45.4475]
        }
        if(unformattedAddress.includes(' E ')){
            var mapCenter = [-122.6604,45.5154]
        }
        else{
            var mapCenter =  [-122.6750,45.5051]
        };
        return mapCenter;
    }

    document.getElementById('page-title').innerHTML = "PDX Event Dashboard";
    </script>
    <style>
    .mapboxgl-popup-content{
        font: 7px sans-serif;
        padding: 7.5px;
        width: 275px;
    }
    .mapbox-popup-content-wrapper {
        padding: 5%;
    }
    @media only screen and (max-width: 600px) {
    .table-hover {
        font-size: 7px sans-serif;
    }
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    </style>
{% endblock %}

