{% extends "base.html" %}
{% block content %}
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <article>
        <header>
            <br>
                <hgroup>
                    <h4>Charting PDX Crime</h4>
                    <h5>Utilizing Sockets to Fetch Data in Realtime</h5>
                </hgroup>
            <br>
        </header>
        <section>
            <p>I've built several visualizations with static data. I wanted to experiment with real-time data. I follow <a href="https://twitter.com/pdxpolicelog">PDX Police Log</a> on Twitter, which is a police scanner feed. I thought this was pretty interesting, so I wrote a persistent listener that uploads these Tweets to a database. An open socket connection updates this data in realtime.</p>
            <br>
        </section>
        <section>
            <div id='map-container'>
                <div id='map' style='width: 1100px; height: 600px;'></div>
            </div>
            <br>
        </section>
        <section>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Address</th>
                        <th scope="col">Incident Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr id="{{event.id|string|truncate(10, end ='')}}" class="event-row">
                        <td scope="row">{{ event.createdate }}</th>
                        <td>{{ event.address }}</td>
                        <td>{{ event.incident }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
            <br>
        </section>
    </article>
    <script>

    var JSONdata = {{jsonEvents|tojson}}  
    var events = JSON.parse(JSONdata)

    mapboxgl.accessToken = 'pk.eyJ1IjoiYWJjb29rIiwiYSI6ImNqcnp5N3N2ZzFkeWs0NG80bnVtNmFxaDEifQ.zPkUuVuuVNGg-3DkQcBflQ';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-122.635, 45.535],
        zoom: 10.5,
        interactive: false
    });

    var markers = []

    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    events.forEach(event =>
        mapboxClient.geocoding
            .forwardGeocode({
                query: event.address,
                autocomplete: false,
                limit: 5,
                proximity: map.center,
                types: ['address']
            })
            .send()
            .then(function(response) {
                if (
                    response &&
                    response.body &&
                    response.body.features &&
                    response.body.features.length
                ) {
                var feature = response.body.features[0];
                var marker = new mapboxgl.Marker()
                    .setLngLat(feature.center)
                    .setPopup(new mapboxgl.Popup().setHTML("<h6>"+event.address.toLocaleString()+"</h6>"+"<h6>"+event.incident+"</h6>"))
                    .addTo(map);

                var markerDiv = marker.getElement();

                // Add popup toggle to the markers themselves.
                markerDiv.addEventListener('mouseenter', () => marker.togglePopup());
                markerDiv.addEventListener('mouseleave', () => marker.togglePopup());

                // Add popup toggle to the table rows.
                var rows = document.getElementsByClassName('event-row');
                for (i = 0; i < rows.length; i++) 
                { 
                    if(rows[i].id == event.id.toString().substring(0,10)){
                        rows[i].addEventListener("mouseenter", function(){togglePopup(marker)}, false);
                        rows[i].addEventListener("mouseleave", function(){togglePopup(marker)}, false);
                    }
                }
            }})
    )

    function togglePopup(marker) {
        marker.togglePopup()
    }

    document.getElementById('page-title').innerHTML = "PDX Event Dashboard";
    </script>
    <style>
    .mapboxgl-popup-content{
        font: 10.5px sans-serif;
        padding: 7.5px;
        width: 240px;
    }
    .mapbox-popup-content-wrapper {
        padding: 5%;
    }
    </style>
{% endblock %}

