{% extends "base.html" %}
{% block content %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <article>
        <header>
            <br>
                <hgroup>
                    <h4>Charting PDX Crime Reports</h4>
                    <h5>Utilizing Mapbox and Geocoding to Visualize PPD Dispatches</h5>
                </hgroup>
            <br>
        </header>
        <section>
            <p>I've built several visualizations with static data. I wanted to experiment with real-time data. I follow <a href="https://twitter.com/pdxpolicelog">PDX Police Log</a> on Twitter, which is a police scanner feed. I thought this was pretty interesting, so I wrote a persistent listener that uploads these Tweets to a database. An open socket connection updates this data in realtime.</p>
            <p>I use <a href="https://mapbox.com">Mapbox</a> to generate the chart. Mapbox is really great- it's feature-rich, great documentation, and free to use for projects like this. You may have noticed that the Twitter account provides the address of the event. I use Mapbox's geocoding tool to convert the address to latitude and longitude and then create the markers on the map using the latitude and longitude. The tool is not always successful - they tweet out a few different address formats and some formats are easier to parse and geocode than others. In particular, address formats of 'STREET 1 / STREET 2' rarely return correctly.</p>
            <br>
        </section>
        <section>
            <div id='map-container'>
                <div id='map' style='width: 1100px; height: 600px;'></div>
            </div>
            <br>
        </section>
        <section>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Address</th>
                        <th scope="col">Incident Type</th>
                        <th scope="col">Urgency</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr id="{{event.id|string|truncate(10, end ='')}}" class="event-row">
                        <td scope="row">{{ event.createdate }}</th>
                        <td>{{ event.address }}</td>
                        <td>{{ event.incident }}</td>
                        {% if 'PRIORITY' == event.urgency %}
                        <td>Priority</td>
                        {% elif 'INJURY' == event.urgency %}
                        <td>Injury</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
            <br>
        </section>
    </article>
    <script>

    var JSONdata = {{jsonEvents|tojson}}
    var events = JSON.parse(JSONdata)

    mapboxgl.accessToken = 'pk.eyJ1IjoiYWJjb29rIiwiYSI6ImNqcnp5N3N2ZzFkeWs0NG80bnVtNmFxaDEifQ.zPkUuVuuVNGg-3DkQcBflQ';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10?optimize=true',
        center: [-122.635, 45.535],
        zoom: 10.5,
        interactive: false
    });

    var markers = []


    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    events.forEach(event =>
        mapboxClient.geocoding
            .forwardGeocode({
                query: event.address + ' PORTLAND, OR',
                autocomplete: false,
                limit: 5,
                proximity: map.center,
                types: ['address']
            })
            .send()
            .then(function(response) {
                if (
                    response &&
                    response.body &&
                    response.body.features &&
                    response.body.features.length
                ) {
                var feature = response.body.features[0];

                if(event.urgency=='PRIORITY'){
                    markerColor = '#e87166'
                }
                else if(event.urgency=='INJURY'){
                    markerColor = '#7c66e8'  
                }
                else{
                    markerColor = '#d2e866'
                }

                var marker = new mapboxgl.Marker({ "color": markerColor })
                    .setLngLat(feature.center)
                    .setPopup(new mapboxgl.Popup({"closeButton":false}).setHTML("<h6><b>Address:</b> "+event.address+"</h6><br><h6><b>Incident Type:</b> "+event.incident+"</h6>"))
                    .addTo(map);

                var markerDiv = marker.getElement();

                // Add popup toggle to the markers themselves.
                markerDiv.addEventListener('mouseenter', () => marker.togglePopup());
                markerDiv.addEventListener('mouseleave', () => marker.togglePopup());

                // Add popup toggle to the table rows.
                var rows = document.getElementsByClassName('event-row');
		

                for (i = 0; i < rows.length; i++) 
                {
                    if(rows[i].id == event.id.toString().substring(0,10)){
                        rows[i].addEventListener("mouseenter", function(){togglePopup(marker)}, false);
                        rows[i].addEventListener("mouseleave", function(){togglePopup(marker)}, false);
                    }
                }
            }})
    )

    function togglePopup(marker) {
        marker.togglePopup()
    }

    document.getElementById('page-title').innerHTML = "PDX Event Dashboard";
    </script>
    <style>
    .mapboxgl-popup-content{
        font: 10px sans-serif;
        padding: 7.5px;
        width: 275px;
    }
    .mapbox-popup-content-wrapper {
        padding: 5%;
    }
    </style>
{% endblock %}

