{% extends "base.html" %}
{% block content %}
    <article>
        <header>
            <br>
            <hgroup>
                <h4>A Note About Outages</h4>
                <h5>Implementing PSQL's VACUUM Functionality to Manage Disk Space</h5>
            </hgroup>
            <br>
        </header>
        <section>
            <p> Every fifteen minutes, my crawler runs and counts the words used in the top comments on a few subreddits. Each crawler run adds thousands of rows to my PSQL database. Each crawler run also deletes thousands of rows from my PSQL database. I store one year of data for each of the subreddits that I track. The data that is older than that purged via a database cleanup script tied to the crawler. I figured that this system would exist in equilibrium - an amount of data coming in and an equal amount being removed. This was not the case. </p>
            <hr>
            <figure>
                <img src="../static/assets/outage.png" style="width:100%;max-width:900px" class="center"/>
            </figure>
            <hr>
            
    </article>
    <script>
        document.getElementById('page-title').innerHTML = "A Note About Outages"    
    </script>

<style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border-radius: 8px;
    }
</style>
{% endblock %}
