{% extends "base.html" %}
{% block content %}
    <article>
        <header>
            <br>
                <hgroup>
                    <h4>Who Says What, When?</h4>
                    <h5>Charting Word Usages Across Reddit's Political Communities</h5>
                </hgroup>
            <br>
        </header>
        <section>
            <p> After spending some time observing the 'common words' data, I realised that, on its own
            , it really isn't that useful. The words are often very similar day-to-day and I felt like that my observations were a little speculative.</p>
            <p> I thought adding search functionality to the dataset might be useful, so I decided to build a way to create a timeseries bar chart so that I could compare word usage across the communities at a glance.</p>
            <p> I'm pleased with the way this turned out. This utilizes the same data as the 'common words' visualization, just formatted in a different way.</p>
        </section>
        <section>
            <div> Input a word to search:</div>
            <div class="form-row">
                <form name="wordSearch" action="/reddit/search" method="POST" onsubmit="return validateForm()">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" name = "word">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-outline-secondary btn-sm float-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Usage over time of the word '{{word}}' on r/politics.</h5>
                </div>
                <div class="col">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons" >
                        <label class="btn btn-outline-secondary btn-sm active" onclick="updateData('count')">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked > Count
                        </label>
                        <label class="btn btn-outline-secondary btn-sm" onclick="updateData('rate')">
                            <input type="radio" name="options" id="option2" autocomplete="off""> Rate
                        </label>
                    </div>
                </div>
            </div>
            <p></p>
            <svg class="chart" id="area1" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
            <p></p>
            <h5>Usage over time of the word '{{word}}' on r/news.</h5>
            <p></p>
            <svg class="chart" id="area2" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
            <p></p>
            <h5>Usage over time of the word '{{word}}' on r/worldnews.</h5>
            <p></p>
            <svg class="chart" id="area3" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
        </section>
    </article>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
    document.getElementById('page-title').innerHTML = "Who Says What, When?"    

    var JSONdata = {{politics|tojson}}    
    var data1 = JSON.parse(JSONdata)
    var JSONdata = {{news|tojson}}    
    var data2 = JSON.parse(JSONdata)
    var JSONdata = {{worldnews|tojson}}    
    var data3 = JSON.parse(JSONdata) 


    function validateForm(){
        var word = document.forms["wordSearch"]["word"].value
        if(word==''){
            alert('Empty strings are not permitted.')
            return false
        }
    }

    function draw(data, area, chart, argument){

        var margin = {top: 8, right: 20, bottom: 52, left: 40},
            width = 800 - margin.left - margin.right,
            height = 200 - margin.top - margin.bottom;

        var svg = d3.select(area).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .attr("id", chart)
          .append("g")
            .attr("transform", 
                  "translate(" + margin.left + "," + margin.top + ")");

	    var emptyFlag = true;

        data.forEach(function(d) {
	       if(d.count > 0){
		        emptyFlag = false;
            }
            if(argument==="count"){
                d.value = +d.count
            }
            if(argument==="rate"){
                if(d.total!=0){
                    d.value = +d.count/d.total    
                }
                else{
                    d.value =+ 0
                }
                
            }
        });

	    if(!emptyFlag){

		    var today = new Date();
        	var dd = today.getDate();
        	var mm = today.getMonth()+1; 

        	var yyyy = today.getFullYear();
        
        	if(dd<10) 
        	{
            	dd='0'+dd;
        	} 

        	if(mm<10) 
        	{
            	mm='0'+mm;
        	} 
        	today = yyyy+'-'+mm+'-'+dd;

        	var x = d3.scaleBand().rangeRound([0,width]).padding(.075).domain(data.map(function(d){ return d.date}));
        	var y = d3.scaleLinear().range([height, 0]);

        	var xAxis = d3.axisBottom(x).tickValues(x.domain().filter(function(d){ return ((d.substring(8,10) == '01' || d == today) && (d.substring(8,10) != '02') && d.substring(8,10) != '03' && d.substring(8,10) != '31' && d.substring(8,10) != '30' ) }));
        	var yAxis = d3.axisLeft(y).ticks(5);
            
        	x.domain(data.map(function(d) { return d.date; }));
        	y.domain([0, d3.max(data, function(d) { return d.value; })]);

        	svg.append("g")
          	.attr("class", "x axis")
          	.attr("transform", "translate(0," + height + ")")
          	.call(xAxis)
        	.selectAll("text")
          		.style("text-anchor", "end")
          		.attr("dx", "-.4em")
          		.attr("dy", ".9em")
          		.attr("transform", "rotate(-33)" );

        	svg.append("g")
          		.attr("class", "y axis")
          		.call(yAxis)
        		.append("text")
          			.attr("transform", "rotate(-90)")
          			.attr("y", 6)
          			.attr("dy", ".71em")
          			.style("text-anchor", "end")

        	svg.selectAll("bar")
          		.data(data)
        		.enter().append("rect")
          			.style("fill", "palevioletred")
          			.attr("x", function(d) { return x(d.date); })
          			.attr("width", x.bandwidth())
          			.attr("y", function(d) { return y(d.value); })
          			.attr("height", function(d) { return height - y(d.value); })
          		.append("title")
            			.text(function(d){
                    			if(argument==="count"){
                        			return d.date+": " +d.value;}
                    			if(argument==="rate"){
                       	 			return d.date+": " +Math.round(10000*d.value)/10000;}
                    		});
	        }
    	else{
    		noData(data, area, chart, argument);		
    	}


    };

    function noData(data, area, chart, argument){
    	d3.select("#"+chart).remove()
    	var svg = d3.select(area).append("text")
    				.attr("x", "200")
    				.attr("y", "100")
    				.attr("dy", ".75em")
    				.attr("dx", ".75em")
    				.attr("class","no-data")
    				.text(function(){return "This word was not used in this dataset.";})
    }

    function updateData(argument){
        d3.select("#chart1").remove()
        draw(data1, "#area1", "chart1", argument)
        d3.select("#chart2").remove()
        draw(data2, "#area2", "chart2", argument)
        d3.select("#chart3").remove()
        draw(data4, "#area3", "chart3",  argument)
    }

    window.onload = updateData('count')

    </script> 

    <style>
        .axis {
          font: 12px arial;
        }
        .chart rect{
            opacity: .75;
        }
        .chart rect:hover {
            opacity: .9;
        }
	    .no-data {
	       font-style: italic;
	    }
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
    </style>
{% endblock %}
