{% extends "base.html" %}
{% block content %}
    <article>
        <header>
            <br>
                <hgroup>
                    <h4>The Language of Politics</h4>
                    <h5>Charting the Vocabulary of Reddit's Political Communities</h5>
                </hgroup>
            <br>
        </header>
        <section>
            <p>I've always thought, from a political standpoint, Reddit is really interesting. Regardless of the political ideology, a community (or 'subreddit') exists where like-minded individuals discuss current events through that ideological lens. In these subreddits, I noticed that the same problems are discussed, but using very different language. 
            </p>

            <p>In an effort to quantify these differences, I use <a href="https://praw.readthedocs.io/en/latest/">Reddit's open API, PRAW</a>, to scrape the most popular threads from four politically engaged subreddits.
            I utilize Python to process the comments, Redis to push the words into a PSQL database, and Postgres to form the data objects on this page. This process is automated, running every 15 minutes on an AWS EC2 instance.
            In order to ensure that the same data is not processed twice, I store the unique comment ID of processed comments and then exlude these ID from the crawler. I only include first or second level comments with an overall positive score.
            You may notice that words such as 'the, and, then' etc. are not present in this data set. I consulted <a href='https://en.wikipedia.org/wiki/Most_common_words_in_English' >Wikipedia's list of most common words</a>
            and did not include the most common ~150 words. </p>
            <p>If you are interested, feel free to check out the project <a href='https://github.com/alexanderbcook/reddit_vocabulary'> on GitHub.</a> Two options are available, you may either select one of three pre-rendered datasets or look up the top words during a specific day.
            </p>
        </section>
        <section>
            <div> Available datasets:</div>
            <p class="data-option-span"></p>
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <text id="dropdown-text">                
                            {% if argument=='custom'%}Display data from the last 24 hours.
                            {% else %}
                            {% endif %}
                        </text>
                </button>
                <nav class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onclick="updateData('day', 'none')"><text>Display data from the last 24 hours.</text></a>
                    <a class="dropdown-item" onclick="updateData('month', 'none')"><text>Display data from the last 30 days.</text></a>
                    <a class="dropdown-item" onclick="updateData('year', 'none')"><text>Display data from the last 365 days.</text></a>
                </nav>
            </div>
            <p class="data-option-span"></p>
            <div> Select a date:</div>
            <p class="data-option-span"></p>
            <div class="form-row">
                <form name="date" action="/reddit/topwords?interval=custom" method="POST" onsubmit="return validateForm()">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" name = "year" placeholder="yyyy">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" name = "month" placeholder="mm">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" name = "day" placeholder="dd">
                        </div>
                        <div class="col">
                            <button type="submit"class="btn btn-outline-secondary btn-sm float-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h5 id="politics_header"></h5>
                </div>  
                <div class="col">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <label class="btn btn-outline-secondary btn-sm active" onclick="updateData('none','count')">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Count
                        </label>
                        <label class="btn btn-outline-secondary btn-sm" onclick="updateData('none','rate')">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Rate
                        </label>
                    </div>
                </div>
            </div>
            <svg class="chart" id="area1" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
            <h5 id="news_header"></h5>
            <svg class="chart" id="area2" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
            <h5 id="the_donald_header"></h5>
            <svg class="chart" id="area3" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
            <h5 id="worldnews_header"></h5>
            <svg class="chart" id="area4" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
            <hr>
        </section>
    </article>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
    document.getElementById('page-title').innerHTML = "The Language of Politics"    

    var JSONdata = {{day_politics|tojson}}    
    var day_politics = JSON.parse(JSONdata)
    var JSONdata = {{day_news|tojson}}    
    var day_news = JSON.parse(JSONdata)
    var JSONdata = {{day_the_donald|tojson}}    
    var day_the_donald = JSON.parse(JSONdata)
    var JSONdata = {{day_worldnews|tojson}}    
    var day_worldnews = JSON.parse(JSONdata)
    
    var JSONdata = {{month_politics|tojson}}    
    var month_politics = JSON.parse(JSONdata)
    var JSONdata = {{month_news|tojson}}    
    var month_news = JSON.parse(JSONdata)
    var JSONdata = {{month_the_donald|tojson}}    
    var month_the_donald = JSON.parse(JSONdata)
    var JSONdata = {{month_worldnews|tojson}}    
    var month_worldnews = JSON.parse(JSONdata)
    
    var JSONdata = {{year_politics|tojson}}    
    var year_politics = JSON.parse(JSONdata)
    var JSONdata = {{year_news|tojson}}    
    var year_news = JSON.parse(JSONdata)
    var JSONdata = {{year_the_donald|tojson}}    
    var year_the_donald = JSON.parse(JSONdata)
    var JSONdata = {{year_worldnews|tojson}}    
    var year_worldnews = JSON.parse(JSONdata)

    var JSONdata = {{custom_politics|tojson}}    
    var custom_politics = JSON.parse(JSONdata)
    var JSONdata = {{custom_news|tojson}}    
    var custom_news = JSON.parse(JSONdata)
    var JSONdata = {{custom_the_donald|tojson}}    
    var custom_the_donald = JSON.parse(JSONdata)
    var JSONdata = {{custom_worldnews|tojson}}    
    var custom_worldnews = JSON.parse(JSONdata)

    function isValidDate(dateString)
    {
        if(!/^\d{1,2}\/\d{1,2}\/\d{4}$/.test(dateString))
            return false;

        var parts = dateString.split("/");
        var day = parseInt(parts[1], 10);
        var month = parseInt(parts[0], 10);
        var year = parseInt(parts[2], 10);

        var currentDate = new Date();
        var currentDay = currentDate.getDate();
        var currentMonth = currentDate.getMonth()+1;

        var currentYear = currentDate.getFullYear();

        if(currentDay<10){
            currentDay='0'+currentDay;
        } 

        if(currentMonth<10){
            currentMonth='0'+currentMonth;
        } 

        var currentDate = new Date(currentMonth+'/'+currentDay+'/'+currentYear);
        var inputDate = new Date(dateString);
        var firstDate = new Date('2018/03/24')

        if(year < 1000 || year > 3000 || month == 0 || month > 12)
            return false;

        var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

        if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
            monthLength[1] = 29;

        if (inputDate < firstDate || inputDate > currentDate){
            return false;
        }

        return day > 0 && day <= monthLength[month - 1];
    };


    function validateForm(){
        var year = document.forms["date"]["year"].value;
        var month = document.forms["date"]["month"].value;
        var day = document.forms["date"]["day"].value;

        if (!isValidDate(month + '/' + day + '/' + year)){
            alert("Date must be prior to today, after 2018/03/24, and in yyyy/mm/dd format.")
            return false;
        }
        else{
            document.cookie = "date="+(month + '/' + day + '/' + year)
            document.cookie = "mode=custom"
        }
    }


    function draw(data, area, chart, argument){

        var margin = {top: 18, right: 15, bottom: 26, left: 75},
            width = 800 - margin.left - margin.right,
            height = 200 - margin.top - margin.bottom;

        var y = d3.scaleBand()
                  .range([height, 0])
                  .padding(0.1);

        var x = d3.scaleLinear()
                  .range([0, width]);
                  
        var svg = d3.select(area).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .attr("id", chart)
          .append("g")
            .attr("transform", 
                  "translate(" + margin.left + "," + margin.top + ")");

          data.forEach(function(d) {
            
            if(argument==="count"){
                d.value = +d.count;
            }
            if(argument==="rate"){
                d.value = +d.count/d.total
            }

          });

          x.domain([0, d3.max(data, function(d){ return d.value; })])
          y.domain(data.map(function(d) { return d.word; }));

          svg.selectAll(".bar")
              .data(data)
            .enter().append("rect")
              .attr("class", "bar")
              .attr("width", function(d) {return x(d.value); } )
              .attr("y", function(d) { return y(d.word); })
              .attr("height", y.bandwidth())
              .append("title")
                .text(function(d) {
                        if(argument==="count"){
                            return d.word.charAt(0).toUpperCase() + d.word.slice(1)+": " +d.value;}
                        if(argument==="rate"){
                            return d.word.charAt(0).toUpperCase() + d.word.slice(1)+": " +Math.round(10000*d.value)/10000;}
                        });


          svg.append("g")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(x));

          svg.append("g")
              .call(d3.axisLeft(y));
    }

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function updateData(interval, metric){

        var timeMessage;
        var currentInterval = getCookie("currentInterval")
        var currentMetric = getCookie("currentMetric")

        if(metric=='none'){
            metric = currentMetric
        }
        if(interval=='none'){
            interval = currentInterval
        }

        if(interval=='day'){
            d3.select("#chart1").remove()
            draw(day_politics, "#area1", "chart1", metric)
            d3.select("#chart2").remove()
            draw(day_news, "#area2", "chart2", metric)
            d3.select("#chart3").remove()
            draw(day_the_donald, "#area3", "chart3",  metric)
            d3.select("#chart4").remove()
            draw(day_worldnews, "#area4", "chart4",  metric)

            timeMessage = "over the last 24 hours."
            document.getElementById('dropdown-text').innerHTML = "Display data over the last 24 hours."; 

            document.cookie = "mode=default"
        }
        if(interval=='month'){
            d3.select("#chart1").remove()
            draw(month_politics, "#area1", "chart1", metric)
            d3.select("#chart2").remove()
            draw(month_news, "#area2", "chart2", metric)
            d3.select("#chart3").remove()
            draw(month_the_donald, "#area3", "chart3",  metric)
            d3.select("#chart4").remove()
            draw(month_worldnews, "#area4", "chart4",  metric)

            timeMessage = "over the last 30 days."
            document.getElementById('dropdown-text').innerHTML = "Display data over the last 30 days."; 

            document.cookie = "mode=default"
        }
        if(interval=='year'){
            d3.select("#chart1").remove()
            draw(year_politics, "#area1", "chart1", metric)
            d3.select("#chart2").remove()
            draw(year_news, "#area2", "chart2", metric)
            d3.select("#chart3").remove()
            draw(year_the_donald, "#area3", "chart3",  metric)
            d3.select("#chart4").remove()
            draw(year_worldnews, "#area4", "chart4",  metric)

            timeMessage = "over the last 365 days."
            document.getElementById('dropdown-text').innerHTML = "Display data over the last 365 days.";

            document.cookie = "mode=default"
        }
        if(interval=='custom'){

            d3.select("#chart1").remove()
            draw(custom_politics, "#area1", "chart1", metric)
            d3.select("#chart2").remove()
            draw(custom_news, "#area2", "chart2", metric)
            d3.select("#chart3").remove()
            draw(custom_the_donald, "#area3", "chart3",  metric)
            d3.select("#chart4").remove()
            draw(custom_worldnews, "#area4", "chart4",  metric)

            timeMessage = "on " + getCookie("date") + "."

            document.cookie = "mode=custom"
        }

        document.getElementById('politics_header').innerHTML = "Top words on r/politics " + timeMessage; 
        document.getElementById('news_header').innerHTML = "Top words on r/news " + timeMessage; 
        document.getElementById('the_donald_header').innerHTML = "Top words on r/the_donald " + timeMessage; 
        document.getElementById('worldnews_header').innerHTML = "Top words on r/worldnews " + timeMessage;

        document.cookie = "currentInterval="+interval
        document.cookie = "currentMetric="+metric

    }

    var mode = getCookie("mode")
    if(mode=='custom'){
        window.onload = updateData('custom', 'count')
    }
    else{
        window.onload = updateData('day', 'count')
    }
    
    </script> 

    <style>

    @media screen and (min-width: 300px) {}

    text{
        font: 12px arial;
    }
    .data-option-span {
        margin-bottom: .25rem;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #aaa;
        shape-rendering: crispEdges;
    }
    .chart rect {
        fill: darkslategrey;
        opacity: .75;
        padding: 4px;
        color: white;
        shape-rendering: crispEdges;
    }
    .chart rect:hover {
        opacity: .9;
    }
    .btn-group{
        padding-bottom: 2px;
    }

    </style>
{% endblock %}
