{% extends "base.html" %}
{% block content %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <article>
        <header>
            <br>
                <hgroup>
                    <h4>When and Where are the Police being Dispatched?</h4>
                    <h5>Charting Dispatches by Neighborhood and Time</h5>
                </hgroup>
            <br>
        </header>
        <section>
            <p>
                Writing about this project goes here. I'll describe why I am interested in this data and how it is processed. Police dispatches are a serious topic and I, a serious man, am approaching the topic appropriately.
            </p>
            <p>
                A second paragraph will drive the point home. Police are bad, but some are good. And sometimes they do things that are important.
            </p>
        </section>
        <section>
            <hr>
            <form name="neighborhoodSelector" action="/dispatch/neighborhoods" method="POST">
              <div class="btn-group">
                Here is what is happening in the&nbsp;
                <button class="btn btn-secondary btn-sm dropdown-toggle" id="button-content" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                &nbsp;neighborhood.
                <div class="dropdown-menu menu-scroll">
                    {% for neighborhood in neighborhoods %}
                    <button type="submit" name="name" value="{{neighborhood.name}}" class="dropdown-item" >{{neighborhood.name}}</button>
                    {% endfor %}
                </div>
              </div>
            </form>
        </section>
        <section>
          <h5 id='section-title'></h5>
          <div class="container">
            <div class="row">
              <div class="col">
                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Address</th>
                                <th scope="col">Incident Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                            <tr class="event-row">
                            <td class='table-column' scope="row"><p class='text-nowrap'>{{ event.createdate }}</p></td>
                            <td class='table-column'><p class='text-nowrap'>{{ event.address }}</p></td>
                            <td class='table-column'><p class='text-nowrap'>{{ event.incident }}</p></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>              
                </div>
              <div class="col" id='map-container' data-tap-disabled="true">
                    <div id='map' style='height:27.5vh; width: 25vw; margin:0;'></div>
              </div>
            </div>
          </div>
          <br>
        </section>
    </article>
    <script>

        var JSONdata = {{neighborhood|tojson}}
        var neighborhood = JSON.parse(JSONdata)

        document.getElementById('page-title').innerHTML = "Dispatches by Neighborhood";
        document.getElementById('button-content').innerHTML = neighborhood[0].name;

        mapboxgl.accessToken = 'pk.eyJ1IjoiYWJjb29rIiwiYSI6ImNqcnp5N3N2ZzFkeWs0NG80bnVtNmFxaDEifQ.zPkUuVuuVNGg-3DkQcBflQ';
    
        var coords = [parseFloat(neighborhood[0].lng), parseFloat(neighborhood[0].lat)]

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v10?optimize=true',
            center: coords,
            zoom: 10,    
        });

        var marker = new mapboxgl.Marker()
            .setLngLat(coords)
            .setPopup(new mapboxgl.Popup({"closeButton":false}))
            .addTo(map);

    </script>
    <style>
        .table-column {
            font-size:12px;
        }
        .menu-scroll {
            overflow-y: scroll;
            max-height: 300px;
        }
    </style>
{% endblock %}

 