{% extends "base.html" %}
{% block content %}
    <article>
        <header>
            <br>
            <hgroup>
                <h4> Welcome! </h4>
                <h5> Take a look, stay a while.</h5>
            </hgroup>
            <br>
        </header>
        <section>
            <h6> About Me</h6>
            <p>Hi, my name is Alex Cook. I am a software engineer in Portland, OR. Sometimes I live in Mexico too. I graduated March 2016 from the University of Oregon with a degree in Applied Physics. Just before my graduation, I was offered a data engineering position at a startup, <a href="https://www.carevoyance.com/">Carevoyance.</a>  I currently am employed as a Software Engineer at <a href="https://www.wellsource.com/">Wellsource.</a> Working at Wellsource has been really fun. I was named Employee of the Quarter in Spring of 2017 and Employee of the Year in 2019. </p>
            <p>I enjoy being outdoors, cooking, <a href="/sffpc">building tiny computers</a> and technology.</p>
            <hr>
            <h6>About the Tech</h6>
            <p>This webapp runs on a t2.micro CentOS 7 Amazon EC2 instance. Data is stored on <a href="https://www.postgresql.org">PostgreSQL 9.6.</a> I use <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a>, a Python-based micro web framework and a Python-based server, <a href="https://gunicorn.org/">Gunicorn</a>, to host this application. <a href="https://www.nginx.com/">Nginx</a> functions as a reverse proxy.</p>
            <p>I use a little bit of jQuery, but the rest of the application's functionality is controlled via pure Javascript. I use <a href="https://redis.io">Redis</a>, <a href="https://en.wikipedia.org/wiki/Systemd">Systemd</a>, and <a href="https://en.wikipedia.org/wiki/Cron">Cron</a> to support data services and infrastructure tasks. The website is stylized using <a href="https://getbootstrap.com/">Bootstrap 4.</a> Visualizations were done using <a href="https://d3js.org/">D3.js.</a></p>
            <p>I believe in an open, accessible, and secure internet. This site has received an A+ security rating from <a href="https://www.ssllabs.com/ssltest/analyze.html?d=databyalex.com">SSL Labs.</a> HTTPS certificate provided by <a href="https://letsencrypt.org/">Let's Encrypt.</a> Every page on this site has received a score of at least 90 on <a href="https://developers.google.com/speed/pagespeed/insights/">Google's Page Speed Insights.</a>
            <p>You can checkout the source code for this project <a href="https://www.github.com/alexanderbcook/alexspace">here.</a> This software is covered by the MIT License, you are free to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies without restriction.</p>
            <hr>
        </section>
        <section>
            <nav>
                <p><a href="{{ url_for('static', filename='Resume.pdf') }}">Here's my resume.</a></p>
                <p><a href="https://www.github.com/alexanderbcook">Here's my GitHub.</a></p>
                <p><a href="https://www.linkedin.com/in/alex-cook-853b59132/">Here's my LinkedIn.</a></p>
                <br>
            </nav>
            <hr>
        </section>
     </article>
     <script>
            document.getElementById('page-title').innerHTML = "About databyalex.com"    
    </script>
{% endblock %}

