{% extends "base.html" %}
{% block content %}
    <article>
        <header>
            <br>
            <hgroup>
                <h4> Riley's Recs</h4>
                <h5> Using Airtable and HTMX to Quickly Develop Content-Heavy Blogs</h5>
            </hgroup>
            <br>
        </header>
        <section>
            <p>My wife has lived in Portland her whole life and loves this city very much. She is involved in the food scene, so whenever a new bar, restaurant, bakery, coffee shop, butcher, fishmonger, speakeasy, brewpub, sushi counter, pizzeria, taco truck, hot dog stand, or bistro opens, she is among the first visitors.</p>
            <p>So when people are coming from out of town and ask, 'Well, what should we do?' - she often has too many answers. She created a Google Sheets page a few years ago to keep track of everything, but recently we decided to give the spreadsheet a facelift and created <a href="https://pdxrecs.com">Riley's Recs</a>. It turned out pretty cool.</p>
            <p>The backend is pretty similar to this site- it's hosted on AWS using Flask and Gunicorn. However, we did use a cool tool called <a href="https://airtable.com">Airtable</a> to host the content. It's essentially a hosted RDMBMS, that looks like a series of spreadsheets from the front-end. This allows her to quickly add or edit content. Airtable has an easy to use Python wrapper which I used to consume the data.</p>
            <p>I also used <a href="https://htmx.org/">HTMX</a>, the new hotness, to manipulate the front-end. It's realy cool- you should check it out.</p>
          <hr>
        </section>
     </article>
    <script>
      document.getElementById('page-title').innerHTML = "Using Airtable and HTMX to Develop a Blog"    
    </script>
{% endblock %}

