{% extends "base.html" %}
{% block content %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <br>
    <p>I've always thought, from a political standpoint, Reddit is really interesting. Regardless of the political ideology, a community (or 'subreddit') exists where like-minded 
       individuals discuss current events through that ideological lens. In these subreddits, I noticed that the same problems are discussed, but using very different language. 
    </p>

    <p>In an effort to quantify these differences, I use <a href="https://praw.readthedocs.io/en/latest/">Reddit's open API, PRAW</a>, to scrape the most popular threads from four politically engaged subreddits.
    I utilize Python to process the comments, Redis to push the words into a PSQL database, and Postgres to form the data objects on this page. This process is automated, running every 15 minutes on an EC2 instance.
    In order to ensure that the same data is not processed twice, I store the unique comment ID and exlude these comments from the crawler.
    You may notice that words such as 'the, and, then' etc. are not present in this data set. I consulted <a href='https://en.wikipedia.org/wiki/Most_common_words_in_English' >Wikipedia's list of most common words</a>
    and did not include the most common ~150 words. If you are interested, feel free to check out the project <a href='https://github.com/alexanderbcook/reddit_vocabulary'> on GitHub.</a>
    </p>

    <p> Two options are available, you may either select one of three pre establish datasets or look up words from a specific day.</p>
    <div> Available datasets:</div>
    <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if argument=='month'%}Display data from the last 30 days.
                {% elif argument=='year' %}Display data from the last 365 days.
                {% else %}Display data from the last 24 hours.
                {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/reddit?interval=day">Display data from the last 24 hours.</a>
            <a class="dropdown-item" href="/reddit?interval=month">Display data from the last 30 days.</a>
            <a class="dropdown-item" href="/reddit?interval=year">Display data from the last 365 days.</a>
        </div>
    </div>
    <br>
    <div> Select a date:</div>
    <div class="form-row">
        <form name="date" action="/reddit?interval=custom" method="POST" onsubmit="return validateForm()">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control form-control-sm" name = "year" placeholder="yyyy">
                </div>
                <div class="col">
                    <input type="text" class="form-control form-control-sm" name = "month" placeholder="mm">
                </div>
                <div class="col">
                    <input type="text" class="form-control form-control-sm" name = "day" placeholder="dd">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <b>Here are the top words used on r/politics 
        {% if argument=='month'%} over the last 30 days.
        {% elif argument=='year' %} over the last 365 days.
        {% elif argument=='custom' %} on {{interval}}
        {% else %} over the last 24 hours.
        {% endif %}
    </b>
    <p></p>
    <svg class="chart" id="area1" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
    <hr>
    <p></p>
    <b>Here are the top words used on r/news 
        {% if argument=='month'%} over the last 30 days.
        {% elif argument=='year' %} over the last 365 days.
        {% elif argument=='custom' %} on {{interval}}
        {% else %} over the last 24 hours.
        {% endif %}
    </b>
    <p></p>
    <svg class="chart" id="area2" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
    <hr>
    <p></p>
    <b>Here are the top words used on r/the_donald 
        {% if argument=='month'%} over the last 30 days.
        {% elif argument=='year' %} over the last 365 days.
        {% elif argument=='custom' %} on {{interval}}
        {% else %} over the last 24 hours.
        {% endif %}
    </b>
    <p></p>
    <svg class="chart" id="area3" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
    <hr>
    <p></p>
    <b>Here are the top words used on r/worldnews 
        {% if argument=='month'%} over the last 30 days.
        {% elif argument=='year' %} over the last 365 days.
        {% elif argument=='custom' %} on {{interval}}
        {% else %} over the last 24 hours.
        {% endif %}
    </b>
    <p></p>
    <svg class="chart" id="area4" viewBox="0 0 800 200" preserveAspectRatio="xMidYMid meet"></svg>
    <hr>
    <script>
    
    var JSONdata = {{politics|tojson}}    
    var data1 = JSON.parse(JSONdata)
    var JSONdata = {{news|tojson}}    
    var data2 = JSON.parse(JSONdata)
    var JSONdata = {{the_donald|tojson}}    
    var data3 = JSON.parse(JSONdata)
    var JSONdata = {{worldnews|tojson}}    
    var data4 = JSON.parse(JSONdata)

    function isValidDate(dateString)
    {
        // First check for the pattern
        if(!/^\d{1,2}\/\d{1,2}\/\d{4}$/.test(dateString))
            return false;

        // Parse the date parts to integers
        var parts = dateString.split("/");
        var day = parseInt(parts[1], 10);
        var month = parseInt(parts[0], 10);
        var year = parseInt(parts[2], 10);

        console.log(day, month, year)
        // Check the ranges of month and year
        if(year < 1000 || year > 3000 || month == 0 || month > 12)
            return false;

        var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

        // Adjust for leap years
        if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
            monthLength[1] = 29;

        if(year<=2018 && month<=3 && day<24){
            return false;
        }

        // Check the range of the day
        return day > 0 && day <= monthLength[month - 1];
    };


    function validateForm(){
        var year = document.forms["date"]["year"].value;
        console.log(year)
        var month = document.forms["date"]["month"].value;
        console.log(month)
        var day = document.forms["date"]["day"].value;
        console.log(day)

        if (!isValidDate(month + '/' + day + '/' + year)){
            alert("Date must be in yyyy/mm/dd format and date must be after 2018/03/24.")
            return false;
        }
    }


    function draw(data, area){
        var margin = {top: 20, right: 20, bottom: 30, left: 75},
            width = 800 - margin.left - margin.right,
            height = 200 - margin.top - margin.bottom;

        var y = d3.scaleBand()
                  .range([height, 0])
                  .padding(0.1);

        var x = d3.scaleLinear()
                  .range([0, width]);
                  
        var svg = d3.select(area).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", 
                  "translate(" + margin.left + "," + margin.top + ")");

          data.forEach(function(d) {
            d.count = +d.count;
          });

          x.domain([0, d3.max(data, function(d){ return d.count; })])
          y.domain(data.map(function(d) { return d.word; }));

          svg.selectAll(".bar")
              .data(data)
            .enter().append("rect")
              .attr("class", "bar")
              .attr("width", function(d) {return x(d.count); } )
              .attr("y", function(d) { return y(d.word); })
              .attr("height", y.bandwidth())
              .append("title")
                .text(function(d) {return d.word.charAt(0).toUpperCase() + d.word.slice(1)+": " +d.count;});


          svg.append("g")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(x));

          svg.append("g")
              .call(d3.axisLeft(y));
    }

    draw(data1, "#area1")
    draw(data2, "#area2")
    draw(data3, "#area3")
    draw(data4, "#area4")

    
    </script> 

    <style>

    p {
      margin-bottom: .33em;
    }
    text {
        color:;
    }
    .axis text{
        font: 11px arial;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #aaa;
        shape-rendering: crispEdges;
    }
    .chart rect {
        fill: darkslategrey;
        opacity: .75;
        padding: 4px;
        color: white;
        shape-rendering: crispEdges;
    }
    .chart rect:hover {
        opacity: .9;
    }
    .btn-group{
        padding-bottom: 2px;
    }

    </style>
{% endblock %}
