{% extends "base.html" %}
{% block content %}
    <br>
    <p>I've always thought, from a political standpoint, Reddit is really interesting. Regardless of the political ideology, a community (or 'subreddit') exists where like-minded 
       individuals discuss current events through that ideological lens. In these subreddits, I noticed that the same problems are discussed, but using very different language. 
    </p>

    <p>In an effort to quantify these differences, I use <a href="https://praw.readthedocs.io/en/latest/">Reddit's open API, PRAW</a>, to scrape the most popular threads from four politically engaged subreddits.
    I utilize Python to process the comments, Redis to push the words into a PSQL database, and Postgres to form the data objects on this page. This process is automated, running every 15 minutes on an EC2 instance.
    In order to ensure that the same data is not processed twice, I store the unique comment ID and exlude these comments from the crawler.
    You may notice that words such as 'the, and, then' etc. are not present in this data set. I consulted <a href='https://en.wikipedia.org/wiki/Most_common_words_in_English' >Wikipedia's list of most common words</a>
    and did not include the most common ~150 words. If you are interested, feel free to check out the project <a href='https://github.com/alexanderbcook/reddit_vocabulary'> on GitHub.</a>
    </p>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary">Three datasets are available: you may select data from the
            {% if argument=='month'%} last 30 days.
            {% elif argument=='year' %} last 365 days.
            {% else %} last 24 hours.
            {% endif %}
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/reddit?interval=day">last 24 hours.</a>
            <a class="dropdown-item" href="/reddit?interval=month">last 30 days.</a>
            <a class="dropdown-item" href="/reddit?interval=year">last 365 days.</a>
        </div>
    </div>
    <hr>
    <b>Here are the top words used on r/politics over the 
        {% if argument=='month'%} last 30 days.
        {% elif argument=='year' %} last 365 days.
        {% else %} last 24 hours.
        {% endif %}

    </b>
    <p>
    </p>
    <div class="chart" id="area1">
    </div>
    <div class="axis" id="axis1">
    </div>
    <hr>

    <b>Here are the top words used on r/news over the  
        {% if argument=='month'%} last 30 days.
        {% elif argument=='year' %} last 365 days.
        {% else %} last 24 hours.
        {% endif %}

    </b>
    <p></p>
    <div class="chart" id="area2">
    </div>
    <div class="axis" id="axis2">
    </div>
    <hr>
    
    <b>Here are the top words used on r/the_donald over the 
        {% if argument=='month'%} last 30 days.
        {% elif argument=='year' %} last 365 days.
        {% else %} last 24 hours.
        {% endif %}

    </b>
    <p></p>
    <div class="chart" id="area3">
    </div>
    <div class="axis" id="axis3">
    </div>
    <hr>

    <b>Here are the top words used on r/worldnews over the 
        {% if argument=='month'%} last 30 days.
        {% elif argument=='year' %} last 365 days.
        {% else %} last 24 hours.
        {% endif %}
    </b>
    <p></p>
    <div class="chart" id="area4">
    </div>
    <div class="axis" id="axis4">
    </div>
    <hr>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script>
  
    var JSONdata = {{politics|tojson}}    
    var data1 = JSON.parse(JSONdata)
    var JSONdata = {{news|tojson}}    
    var data2 = JSON.parse(JSONdata)
    var JSONdata = {{the_donald|tojson}}    
    var data3 = JSON.parse(JSONdata)
    var JSONdata = {{worldnews|tojson}}    
    var data4 = JSON.parse(JSONdata)


    var word = function(data){return data.word}
    var count = function(data){return data.count}
    function getMax(data){
        var max;
        for (var i = 0; i < data.length ; i ++){
            if(!max || parseInt(data[i][count]) > parseInt(max[count]))
                max = data[i]
        }
        return max.count;
    }   

    var x1 = d3.scale.linear()
            .domain([0, getMax(data1)])
            .range([0, 700]);

    var x2 = d3.scale.linear()
            .domain([0, getMax(data2)])
            .range([0, 700]);

    var x3 = d3.scale.linear()
            .domain([0, getMax(data3)])
            .range([0, 700]);
    var x4 = d3.scale.linear()
            .domain([0, getMax(data4)])
            .range([0, 700]);

    var chart1 = d3.select("#area1")
        .selectAll("div")
        .data(data1)
        .enter().append("div")
        .style("width", function(data) { return x1(data.count) + "px"; })
        .text(function(data) { return data.word; })
        .attr("title", function(data) {return data.word.charAt(0).toUpperCase() + data.word.slice(1)+": " +data.count;});

    var chart2 = d3.select("#area2")
        .selectAll("div")
        .data(data2)
        .enter().append("div")
        .style("width", function(data) { return x2(data.count) + "px"; })
        .text(function(data) { return data.word; })
        .attr("title", function(data) {return data.word.charAt(0).toUpperCase() + data.word.slice(1)+": " +data.count;});

    var chart2 = d3.select("#area3")
        .selectAll("div")
        .data(data3)
        .enter().append("div")
        .style("width", function(data) { return x3(data.count) + "px"; })
        .text(function(data) { return data.word; })
        .attr("title", function(data) {return data.word.charAt(0).toUpperCase() + data.word.slice(1)+": " +data.count;});

    var chart2 = d3.select("#area4")
        .selectAll("div")
        .data(data4)
        .enter().append("div")
        .style("width", function(data) { return x4(data.count) + "px"; })
        .text(function(data) { return data.word; })
        .attr("title", function(data) {return data.word.charAt(0).toUpperCase() + data.word.slice(1)+": " +data.count;});



    var axis1 = d3.select("#axis1").append("svg").attr("width", 850).attr("height", 20)
    var axisScale = d3.scale.linear().domain([0, getMax(data1)]).range([-5,705])
    var xAxis = d3.svg.axis().scale(axisScale).tickSubdivide(true)
    var xAxisGroup = axis1.append("g").call(xAxis)

    var axis2 = d3.select("#axis2").append("svg").attr("width", 850).attr("height", 20)
    var axisScale = d3.scale.linear().domain([0, getMax(data2)]).range([-5,705])
    var xAxis = d3.svg.axis().scale(axisScale)
    var xAxisGroup = axis2.append("g").call(xAxis)

    var axis3 = d3.select("#axis3").append("svg").attr("width", 850).attr("height", 20)
    var axisScale = d3.scale.linear().domain([0, getMax(data3)]).range([-5,705])
    var xAxis = d3.svg.axis().scale(axisScale)
    var xAxisGroup = axis3.append("g").call(xAxis)

    var axis4 = d3.select("#axis4").append("svg").attr("width", 850).attr("height", 20)
    var axisScale = d3.scale.linear().domain([0, getMax(data4)]).range([-5,705])
    var xAxis = d3.svg.axis().scale(axisScale)
    var xAxisGroup = axis4.append("g").call(xAxis)

    </script> 
    
    <style>
    .axis text{
        font: 11px arial;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #aaa;
        shape-rendering: crispEdges;
    }
    .chart div {
        font: 12px arial;
        background-color: darkslategray;
        opacity: .75;
        text-align: right;
        padding: 4px;
        margin: 1px;
        color: white;
        shape-rendering: crispEdges;
    }
    .chart div:hover {
        opacity: .9;
    }

    </style>

{% endblock %}
