{% extends "base.html" %}
{% block content %}
<div class="chart" id="area1"></div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var JSONdata = {{games|tojson}}    
var data = JSON.parse(JSONdata)

// set the dimensions and margins of the graph
var margin = {top: 15, right:25, bottom:60, left:40},
        width = 760 - margin.left - margin.right,
        height = 380 - margin.top - margin.bottom;

// parse the date / time
var stringDates = ['3/1/' + {{year}}, '4/1/' + {{year}}, '5/1/' + {{year}}, '6/1/' + {{year}}, '7/1/' + {{year}}, '8/1/' + {{year}},'9/1/' + {{year}}, '10/1/' + {{year}}, '11/1/' + {{year}},'11/20/' + {{year}}];
var parseTime = d3.timeParse("%m/%d/%Y");

// set the ranges
var x = d3.scaleTime().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);

// append the svg obgect to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#area1").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

data.forEach(function (d) {
  d.date = parseTime(d.date);
  //d.opponent =+ d.opponent;
  console.log(d.result)
  d.sentiment =+ d.sentiment;
  console.log(d.result)
  //d.scorers =+ d.scorers
});

// Scale the range of the data
x.domain(d3.extent(stringDates, function(d){ return parseTime(d); }));
y.domain([0, d3.max(data, function(d) { return d.sentiment + .02; })]);

// Add the scatterplot
svg.selectAll("dot")
    .data(data)
  .enter().append("circle")
    .attr("r", 6)
    .attr("cx", function(data) { return x(data.date); })
    .attr("cy", function(data) { return y(data.sentiment); })
    .style("fill", function(data) { console.log(data)
                                  if(data.result=="Loss")
                                    {return " #ff6666";} 
                                  else if (data.result=="Tie")
                                    {return " #ffff66"} 
                                  else if(data.result=="Win") 
                                    {return " #80ff80"}});

// Add the X Axis
svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

// Add the Y Axis
svg.append("g")
    .call(d3.axisLeft(y));



</script>
<style>

#area1 {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
circle{
  opacity:.75;

}
circle:hover{
  opacity:1;
  outline: 2px solid black;
}
</style>

{% endblock %}
